<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--properties 扫描属性文件.properties  -->
    <properties resource="db.properties"></properties>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 全局性设置懒加载。如果设为‘false'，则所有相关联的都会被初始化加载。 -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- 当设置为‘true'的时候，懒加载的对象可能被任何懒属性全部加载。否则，每个属性都按需加载。 -->
        <setting name="aggressiveLazyLoading" value="true"/>
        <!--设置对象的哪些方法调用会加载延迟查询   默认：equals,clone,hashCode,toString-->
        <setting name="lazyLoadTriggerMethods" value=""/>
        <!--此处可以指定一个执行器  只有三种执行器SIMPLE REUSE BATCH  默认 SIMPLE-->
        <!--<setting name="defaultExecutorType" value="REUSE"></setting>-->
    </settings>
    <plugins>
        <plugin interceptor="com.tuling.plugins.ExamplePlugin"></plugin>
    </plugins>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <!--//  mybatis内置了JNDI、POOLED、UNPOOLED三种类型的数据源,其中POOLED对应的实现为org.apache.ibatis.datasource.pooled.PooledDataSource,它是mybatis自带实现的一个同步、线程安全的数据库连接池 一般在生产中,我们会使用c3p0或者druid连接池-->
            <dataSource type="POOLED">
                <property name="driver" value="${mysql.driverClass}"/>
                <property name="url" value="${mysql.jdbcUrl}"/>
                <property name="username" value="${mysql.user}"/>
                <property name="password" value="${mysql.password}"/>
            </dataSource>
        </environment>
    </environments>


    <mappers>
        <!--<package name="com.tuling.mapper"/>-->
        <mapper class="com.tuling.mapper.OrderMapper"></mapper>
        <mapper class="com.tuling.mapper.UserMapper"></mapper>
    </mappers>
</configuration>


