<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuling.mapper.OrderMapper">
    <!--<cache ></cache>-->
    <!-- Mybatis 是如何将 sql 执行结果封装为目标对象并返回的？都有哪些映射形式？-->
    <resultMap id="result" type="com.tuling.entity.Order">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="order_amount" jdbcType="VARCHAR" property="orderAmount"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>

        <association property="user" javaType="com.tuling.entity.User" column="user_id" select="getUserByUserId">

        </association>
    </resultMap>


    <select id="selectAll" resultMap="result">
        select id,user_id,order_amount,create_time from t_order
    </select>

    <select id="getUserByUserId" resultType="com.tuling.entity.User">
        select * from t_user where id=#{id}
    </select>

</mapper>
